NODE_ENV=development
PORT=3500
MONGO_URI=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=120s
REFRESH_TOKEN_EXPIRES_IN=1d
RESEND_API_KEY=
EMAIL_FROM=
FRONTEND_ORIGIN=http://localhost:5173